.post-card
  position: relative
  width: 100%
  max-width: 800px
  background-color: white
  margin: 8px 0
  padding: 16px 16px 5px

  h1
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    padding-right: 56px
    margin-top: 0

  .post-content
    font-size: 1.15em
    white-space: pre-wrap
    word-wrap: break-word


.card-bottom
  display: flex
  flex-wrap: wrap-reverse
  font-size: 0.85em
  color: $grey-500
  margin: 0 -16px

  section
    margin: 0px 16px 10px
    align-self: center

  .info
    flex-grow: 1

  .icons
    display: flex
    justify-content: space-between
    flex-grow: 1
    align-items: center

    span
      text-align: right
      flex-grow: 1

  svg
    fill: $grey-500 !important


.more-menu
  position: absolute
  top: 5px
  right: 5px



.comment-section
  height: 0
  overflow: hidden
  transition-timing-function: $animation-curve-default
  transition-delay: 0
  transition-duration: $animation-duration
  transition-property: height

  .wrapper
    padding: 0 0 5px

  .b-wrapper
    text-align: right


.comments
  text-align: center
  
  h5
    color: $grey-500

  ul
    text-align: left
    list-style: none
    padding: 0

    li
      margin-bottom: 32px


.comment-box
  pre
    margin: 0

.comment-bottom
  display: flex
  justify-content: space-between
  margin-top: 5px
  color: $grey-500
  font-size: 0.8em

  p
    margin: 0
